<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Index Page</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Index Page!</h1>
      <p class="text-success">You are logged in!</p>
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>
    </div>
  </body>
</html>
